@{
    ViewBag.Title = "Home Page";
}

<script type="text/javascript">

    $(document).ready(function () {

       

    });  //end of document load on open

</script>

<div class="jumbotron" style="background-color: #FAFAFA; width: 100%; height: auto;">
    <h2><b><u>North American Roofing - FCS Data Management</u></b></h2>
    <p class="lead">
        <ul class="alert-info">
            New Reports/Features
            <li class="text-info" style="font-size:14px;">Help Documents > Lien Deadline Days - A new document that will display the prime and sub deadline days for liens based on the state.</li>
            <li class="text-info" style="font-size:14px;">Maintenance > FCS Company Mgmt - You can now view all invoices associated with a specific company.</li>
            <li class="text-info" style="font-size:14px;">Maintenance > FCS Invoices - You can now view all commission records associated with a specific invoice.</li>
            <li class="text-info" style="font-size:14px;">Maintenance > FCS Company Mgmt - New fields for the date created and date modified have been added to both the filter grid and details (view only) area. In the filter area the dates are a range - you will have to first select a start date and then an end date. Click the "Grid Help" button at the top of the grid for tips on how to use this new feature.</li>
            <li class="text-info" style="font-size:14px;">Filter Option on the Help Documents > FCS Companies  - New fields for the date created and date modified have been added. Also, new filter row has been added to the grid to make searching for records easier. Click the "Grid Help" button at the top of the grid for tips on how to use this new feature.</li>
            <li class="text-info" style="font-size:14px;">Help Documents > Grid Help - A new document that will give you quick tips on how to use the grids, such as filtering and sorting. This document can also be viewed from some grids by click the "Grid Help" button that is in the top bar of select grids.</li>
        </ul>
        
    </p>
    
</div>